*{
	    margin:0;
	    padding:0;
	    box-sizing:border-box;
	}
	html, body {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

		#container {
    user-select: none;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			margin: 0;
			flex-direction: column;
			//background: linear-gradient(#000000, #000010);
		}

		#number {
			font-size: 72px;
			//text-align: center;
			
			//color: #000000;
		}
		
		#target {
		    font-size:22px;
		    margin-top:20px;
		    color :#537FE7;
		}
		h4{
		   margin-top:55px;
		   
		}
		h1, p{
		    line-height:0;
		}
		.round {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
			   justify-content: center;
		    width: 250px;
		    height: 250px;
		    align-items :center;
		    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
		    border-radius: 100%;
		    margin-bottom:40px;
		    //background: linear-gradient(#696969, #808080);
		}
		button{
		    width :200px;
		    margin-top:20px;
		    padding:22px 20px;
		    background-color:#537FE7;
		    color:#ffffff;
		    border:none;
		    border-radius : 50px;
		    font-size:18px;
		}
