@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1e1e1e;
}
html,
body {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

#container {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

#number {
  font-size: 72px;
  line-height: 100px;
}

#target_text{
	font-weight: 500;
	margin-top: 0;
}

#target {
  font-size: 30px;
  font-weight: 500;
  color: #537fe7;
}

.first,.second,.third{
	width: 100%;
	height: calc(100vh/3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.first{
	font-size: 28px;
	font-weight: 500;
	opacity: 15%;
	padding-top: 40px;
}

.third{
	font-size: 0.9rem;
	opacity: 10%;
	padding-bottom: 60px;
}

.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  margin-bottom: 40px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: inherit;
}

ul {
  list-style: none;
}

.header {
	z-index: 100;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.logo {
  z-index: 99;
	font-weight: 300;
  font-size: 20px;
  
}
.logo .logo-bld {
  font-weight: 600;
  color: inherit;
}

nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -1000px;
  left: 0;
  width: 100%;
  height: 23%;
  background-color: #fff;
  padding: 2rem 1.5rem 4rem;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem 1.5rem 0 0;
  transition: 0.5s;
}

.nav_list {
	justify-content: space-between;
  display: flex;
  width: 100%;
  color: inherit;
}

.nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 85px;
  font-size: 12px;
  color: inherit;
}

.close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.8rem;
}

.active {
  color: #537fe7;
}

.nav_item .material-symbols-outlined {
  padding-bottom: 8px;
}

.display_menu{
	bottom: 0;
}

/* DARK MODE */
.container_dark {
  background-color: #1e1e1e;
  transition: 0.5s;
}
.nav_menu_dark {
  background-color: #1e1e1e;
  box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.15);
  color: #fff;
}
.round_dark {
  background-color: #1e1e1e;
  box-shadow: 0px 0px 15px #537fe7;
  transition: 0.5s;
}
.color_dark {
  color: rgb(255, 255, 255);
}

.nav_item_dark {
  color: #fff;
}
